/* Estilos para la barra de navegación */
.navbar {
    background-color: white;
    color: white;
}

/* Estilos para la tarjeta */
.card {
    background-color: white;
}

/* Estilo para la tarjeta cuando se pasa el cursor sobre ella */
.card:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Estilos para el fondo de la página */
.py-4 {
    background-image: url('../images/race-ppal.jpg');
    background-size: cover;
    background-position: center;
}
.table{
    background-color: white;
}
h1{
    color: #808080;
}
label{
    color: #808080;
}
.dataTables_info{
    color: #808080;
}
.invoice h1{
    color: black;
}
.card label{
    color: black;
}
.container{
    color: black;
}
